
{% extends 'base.html' %}

{% block title %}
{% endblock %}
{% block body %}
<p hidden id="theId">{{user_id}}</p>
<p hidden id="theData">{{date}}</p>


<ul class="nav nav-fill">
<!--  <li class="nav-item">-->
<!--    <a class="nav-link active" aria-current="page" href="#">Active</a>-->
<!--  </li>-->
  <li class="nav-item">
    <button  type="button" class="btn btn-info" onClick="window.location.reload();"> 🔄 </button>
  </li>
  <li class="nav-item">
   <h3>    Задачи на сегодня    </h3>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-outline-primary">{{date}}</button></h3>
  </li>
</ul>








<br>



<br>
<!--{#<h3> class="text-center">{{list_val}}</h3>#}-->




{#
{% for dict_item in list_val %}
   {% for key, value in dict_item.items() %}
      {{value}}<br>
   {% endfor %}
{% endfor %}
#}

{% for i in range(list_val_len) %}{#итерируем через общее коллличество элементов в списке#}
    <label for="val{{ i+1 }}" name="val{{ i+1 }}">{#создаем лебл#}
        {#создаем чекбокс#}
        <input type="checkbox"
               id="val{{ i+1 }}"
               name="{% for item in list_val[i] %}{{ item }}{% endfor %}"
               value=list_val[i]
               {#прописывем состояние чекбокса через итерирование значения словаря#}


                {% for key, value in list_val[i].items() %}
                   {{value}}
                {% endfor %}


        >
        {#прописывем подписи к чекбоксам через итерирование каждый словарем в списке#}
        {% for item in list_val[i] %}
            {{ item }}
        {% endfor %}

    </label><br>
{% endfor %}


<br>
<!--<button type="button" class="btn btn-primary">Share score</button>-->
<br>
<!--<button  type="button" class="btn btn-primary" onClick="TelegramGameProxy.shareScore()">Share score</button>-->

<div class="d-grid gap-2">
  <button class="btn btn-primary" type="button" onClick="TelegramGameProxy.shareScore()" >Share score</button>
</div>


<!--<div class="form-check">-->
<!--  <input class="form-check-input" type="checkbox" id="chb1">-->
<!--  <label class="form-check-label" for="chb1">-->
<!--    Checkbox2text-->
<!--  </label>-->
<!--</div>-->
<!--<div class="form-check">-->
<!--  <input class="form-check-input" type="checkbox" value="1" id="chb2">-->
<!--  <label class="form-check-label" for="chb2">-->
<!--     <h id="chb2text">Checkbox2text</h>-->
<!--  </label>-->
<!--</div>-->


<!--{% for i in range(list_val_len) %}-->
<!--    <label for="val{{ i+1 }}" name="val{{ i+1 }}">-->
<!--        <input type="checkbox"-->

<!--               name="{% for item in list_val[i] %}{{ item }}{% endfor %}"-->
<!--               value=list_val[i]>-->
<!--        {% for item in list_val[i] %}-->
<!--            {{ item }}-->
<!--         {%- endfor %}-->
<!--    </label><br>-->
<!--{% endfor %}-->
<!--{% endblock %}-->

