
{% extends 'base.html' %}

{% block title %}
{% endblock %}
{% block body %}
<p hidden id="theId">{{user_id}}</p>
<p hidden id="theData">{{date}}</p>

<!--<br>-->
<ul class="nav flex-sm-row nav-fill">
    <li class="nav-item">
    <button  type="button" id="yesterday" class="btn btn-outline-primary" onClick="window.location.reload();"> ◀️ </button>
  </li>

    <li class="nav-item">
   <h3> &ensp;  </h3>
  </li>
    <li class="nav-item">
   <h3> &ensp;  </h3>
  </li>

<!--<li class="nav-item">-->
<!--    <h3>Задачи на&ensp;  </h3>-->
<!--</li>-->
<!--  <li class="nav-item">-->
<!--    <button type="button" class="btn btn-outline-primary">{{date}}</button>-->
<!--  </li>-->

    <li class="nav-item">
        <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {{date}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for day in dates %}
                <li><a class="dropdown-item" href="{{game_url}}/gm/{{user_id}}/{{day}}">{{day}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </li>

<!--    <li class="nav-item">-->
<!--   <h3> &ensp;  </h3>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <button  type="button" class="btn btn-info" onClick="window.location.reload();"> 🔄 </button>-->
<!--  </li>-->
    <li class="nav-item">
   <h3> &ensp;  </h3>
  </li>
    <li class="nav-item">
   <h3> &ensp;  </h3>
  </li>
    <li class="nav-item">
    <button  type="button" id="tomorrow" class="btn btn-outline-primary" onClick="window.location.reload();"> ▶️ </button>
  </li>
<!--    <li class="nav-item">-->
<!--   <h3> &ensp;  </h3>-->
<!--  </li>-->
<!--  <li class="nav-item">-->

<!--  </li>-->
</ul>





<br>

{#
{% for dict_item in list_val %}
   {% for key, value in dict_item.items() %}
      {{value}}<br>
   {% endfor %}
{% endfor %}
#}
<div class="list-group" id="list-group">
    {% for i in range(list_val_len) %}{#итерируем через общее коллличество элементов в списке#}

    <label class="collapse show list-group-item" for="val{{ i+1 }}" name="val{{ i+1 }}" id="label{{ i+1 }}">{#создаем лебл#}



            {#создаем чекбокс#}
        <input class="form-check-input me-1"
               type="checkbox"
               id="val{{ i+1 }}"
               name="{% for item in list_val[i] %}{{ item }}{% endfor %}"
               value=list_val[i]
               {#прописывем состояние чекбокса через итерирование значения словаря#}

                {% for key, value in list_val[i].items() %}
                   {{value}}
                {% endfor %}
        >
        {#прописывем подписи к чекбоксам через итерирование каждый словарем в списке#}
        {% for item in list_val[i] %}
            {{ item }}
        {% endfor %}



        </input>


<object  class="collapse multi-collapse collapse-horizontal" id="collapseWidthExample" title="удалить чекбокс" align="right" >
<!--   <a align="right">-->
<!--    <small>-->
      <button type="button" class="btn-close btn-sm btn-outline-danger" data-bs-toggle="collapse" data-bs-target="#label{{ i+1 }}" aria-expanded="true" aria-controls="label{{ i+1 }}" >
<!--        ❌-->
        </button>

<!--    </small>-->
<!--</a>-->
</object>


        </label>

    {% endfor %}

     <label id="before"> </label>

    <button id="plus_button"  type="button" class="btn btn-outline-primary" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false"> ➕ </button>

    <div class="collapse multi-collapse" id="collapseExample">
<!--<div class="card card-body">-->
<!--<div class="col">-->
    <input id="new-checkbox-text" type="text" class="form-control" placeholder="New Checklist Hear" aria-label="First name">


<!--</div>-->
<!--</div>-->
</div>





</div>

<br><br>

<div class="d-grid gap-2">
  <button class="btn btn-primary" type="button" onClick="TelegramGameProxy.shareScore()" >Share app</button>
</div>


</div>


{% endblock %}


